/* navigation style */
.nav {
  height: 55px;
  display: flex;
  justify-content: space-between;
  padding: 8px 15px;
  font-size: 25px;
  font-weight: 900;
}

a {
  text-decoration: none;
  color: black;
}

.move {
  margin-right: 8px;
  transition: all 0.2s ease-in-out;
}

.move:hover {
  color: lightslategray;
  transition: all 0.2s ease-in-out;
}

.sign {
  margin-right: 8px;
  transition: all 0.2s ease-in-out;
}

.sign:hover {
  color: lightslategray;
  transition: all 0.2s ease-in-out;
}

/* main contain style */
.contain {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

/* global style */
body {
  background-color: rgb(245, 245, 245);
}

/* signup_form style */

.signup-form-box {
  width: 800px;
  height: 750px;
  margin: 100px auto;
  border: 2px solid rgb(200, 200, 200);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-submit-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  /* border: 1px solid black; */
}

.box {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 23px;
  margin-bottom: 8px;
  font-weight: bold;
  color: darkslategrey;
}

.signup-input {
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 17px;
  padding: 8px;
}

.err {
  position: absolute;
  top: 250px;
  color: red;
  font-size: 18px;
  font-weight: 900;
}

.btn {
  margin: 0 23px;
  display: inline-block;
  width: 65px;
  height: 65px;
  font-size: 15px;
  color: #6e6e6e;
  font-weight: 900;
  text-decoration: none;
  border: 2px solid #a3a1a1;
  border-radius: 50%;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.cancle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancle-btn:hover {
  cursor: pointer;
  background-color: #a3a1a1;
  color: #e3dede;
  transition: all 0.3s ease-in-out;
}

.errI {
  display: none;
}
