<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./list.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- layout tag : <main> tag  -->
    <main class="contain">
      <!-- navigation tag start -->
      <nav class="nav">
        <div class="move-box">
          <a href="#" class="move home">HOME</a>
          <a href="#" class="move free-board">자유게시판</a>
        </div>
        <!-- th:if="${sec:hasautorized()}" <div>로그아웃</div> -->
        <div class="login-box">
          <a class="sign" href="#">로그인</a>
        </div>
      </nav>
      <!-- navigation tag end -->

      <!-- list page start -->
      <div class="list-contain">
        <form class="search-box" method="post">
          <select class="var-select">
            <option value="subject" selected>제목</option>
            <option value="writer">작성자</option>
          </select>
          <input class="sch-input" type="text" name="search" id="search" />
          <input
            class="sch-btn"
            type="submit"
            name="search-confirm"
            id="search-confirm"
            value="찾기"
          />
        </form>

        <table class="list-table">
          <thead class="list-table-thead">
            <tr class="list-tr title-tr">
              <th class="list-th number-th">번호</th>
              <th class="list-th title-th">제목</th>
              <th class="list-th writer-th">작성자</th>
              <th class="list-th regDate-th">등록일자</th>
              <th class="list-th hit-th">조회수</th>
            </tr>
          </thead>
          <tbody class="list-table-tbody">
            <tr class="list-tr content-tr">
              <td class="list-td number-td">1</td>
              <td class="list-td title-td">
                <a href="#">이건 테스트를 위한 제목 입니다.</a>
              </td>
              <td class="list-td writer-td">sdskek</td>
              <td class="list-td regDate-td">2023-09-11</td>
              <td class="list-td hit-td">12</td>
            </tr>

            <tr class="list-tr content-tr">
              <td class="list-td number-td">1</td>
              <td class="list-td title-td">이건 테스트를 위한 제목 입니다.</td>
              <td class="list-td writer-td">sdskek</td>
              <td class="list-td regDate-td">2023-09-11</td>
              <td class="list-td hit-td">12</td>
            </tr>

            <tr class="list-tr content-tr">
              <td class="list-td number-td">1</td>
              <td class="list-td title-td">이건 테스트를 위한 제목 입니다.</td>
              <td class="list-td writer-td">sdskek</td>
              <td class="list-td regDate-td">2023-09-11</td>
              <td class="list-td hit-td">12</td>
            </tr>

            <tr class="list-tr content-tr">
              <td class="list-td number-td">1</td>
              <td class="list-td title-td">이건 테스트를 위한 제목 입니다.</td>
              <td class="list-td writer-td">sdskek</td>
              <td class="list-td regDate-td">2023-09-11</td>
              <td class="list-td hit-td">12</td>
            </tr>

            <tr class="list-tr content-tr">
              <td class="list-td number-td">1</td>
              <td class="list-td title-td">이건 테스트를 위한 제목 입니다.</td>
              <td class="list-td writer-td">sdskek</td>
              <td class="list-td regDate-td">2023-09-11</td>
              <td class="list-td hit-td">12</td>
            </tr>

            <tr class="list-tr content-tr">
              <td class="list-td number-td">1</td>
              <td class="list-td title-td">이건 테스트를 위한 제목 입니다.</td>
              <td class="list-td writer-td">sdskek</td>
              <td class="list-td regDate-td">2023-09-11</td>
              <td class="list-td hit-td">12</td>
            </tr>

            <tr class="list-tr content-tr">
              <td class="list-td number-td">1</td>
              <td class="list-td title-td">이건 테스트를 위한 제목 입니다.</td>
              <td class="list-td writer-td">sdskek</td>
              <td class="list-td regDate-td">2023-09-11</td>
              <td class="list-td hit-td">12</td>
            </tr>

            <tr class="list-tr content-tr">
              <td class="list-td number-td">1</td>
              <td class="list-td title-td">이건 테스트를 위한 제목 입니다.</td>
              <td class="list-td writer-td">sdskek</td>
              <td class="list-td regDate-td">2023-09-11</td>
              <td class="list-td hit-td">12</td>
            </tr>

            <tr class="list-tr content-tr">
              <td class="list-td number-td">1</td>
              <td class="list-td title-td">이건 테스트를 위한 제목 입니다.</td>
              <td class="list-td writer-td">sdskek</td>
              <td class="list-td regDate-td">2023-09-11</td>
              <td class="list-td hit-td">12</td>
            </tr>

            <tr class="list-tr content-tr">
              <td class="list-td number-td">1</td>
              <td class="list-td title-td">이건 테스트를 위한 제목 입니다.</td>
              <td class="list-td writer-td">sdskek</td>
              <td class="list-td regDate-td">2023-09-11</td>
              <td class="list-td hit-td">12</td>
            </tr>
          </tbody>
        </table>

        <div class="under-box">
          <a class="reg-form-link" href="#">글 작성하기</a>
          <span class="all-post-count">전체 게시글 수 : 45개</span>
        </div>

        <!-- pageNation -->
        <div class="pageNation">
          <a class="prev-btn page-btn" href="#">이전</a>
          <ul class="page">
            <!-- th:each="c, loop : pageCount" -->
            <!-- loop.index + 1 -->
            <li class="page-number">
              <a class="page-number-link" href="#">1</a>
            </li>
            <li class="page-number">
              <a class="page-number-link" href="#">2</a>
            </li>
            <li class="page-number">
              <a class="page-number-link" href="#">3</a>
            </li>
          </ul>
          <a class="next-btn page-btn" href="#">다음</a>
        </div>
      </div>
      <!-- list page end -->
    </main>
  </body>
</html>
